{
  "presets": ["react","es2015", "stage-0"],
  "plugins": [
    "transform-decorators-legacy",
    ['transform-es2015-modules-commonjs', { "loose": true }],
	["module-alias", [
	  
	  { "src": "./src/components", "expose": "components" },
	  { "src": "npm:lodash", "expose": "underscore" }
	]]
  ],
}
